/target/
__pycache__/
node_modules/
.imports/
.ruff_cache/
/plugin.wasm
/schema.json
/dprint-schema.json
/jolt-schema.json
/dist/jolt/out/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/.vitepress/.temp/
/docs/.vitepress/theme/assets/jolt-plugin.wasm
/docs/public/man/
/docs/public/schemas/
/docs/reference/
